## List(리스트)

- 여러 개의 데이터를 묶어서 처리할 때 사용

### List 만드는 방법
- 대괄호`[   ]`를 사용
- 각각의 데이터는 콤마(`,`)를 사용해서 구분
- 대괄호만 작성 시([    ]): 빈 List
- List 안에 다양한 데이터를 넣을 수 있음

In [1]:
# 1번 학생의 국어, 영어, 수학, 과학 점수가 각각 80, 90, 95, 100
score = [80, 90, 95, 100]
score

[80, 90, 95, 100]

In [3]:
type(score)

list

In [5]:
score = list( range(0,10) )
score

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### List에서  각 항목 지정 방법
`'변수명[i]'`로  지정

In [7]:
# 선택
score[0], score[2], score[-1]

(0, 2, 9)

##List의 특정 항목을 변경할 경우
`변수명[i] = new_data`를 이용

In [9]:
# 변경
score[0]=10
score

[10, 1, 2, 3, 4, 5, 6, 7, 8, 9]

List에 문자열을 입력하는 예

In [11]:
student = ['영희','순희','영수','철수']
student

['영희', '순희', '영수', '철수']

숫자, 문자열, 불, List를  혼합한 형태의  List

In [13]:
# 변수 = 자료의 주소
school = ['영희','순희','영수','철수', 100, 50, [20,30], score]
school

['영희', '순희', '영수', '철수', 100, 50, [20, 30], [10, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [15]:
# 변수 = 변수(자료의 주소)
# 주소의 복사 : 얕은 카피 - default

a1 = school[7]
a1

[10, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# 주소의 공유 - 하나의 변수로 값을 수정, 다른 변수에도 반영되는 것처럼 보인다.
# 왜냐면, 사실은 자료는 1개니까.

a1[0] = 'k'
a1

['k', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
# 서로 영향을 주지 않도록, 완전히 다른 값을 만들어야 할때는 깊은 카피
# 자료의 복사본을 만든다.
# 선택적으로 수행

from copy import deepcopy
a2 = deepcopy( school[7]  )
a2

['k', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
a2[1] ='j'
a2

['k', 'j', 2, 3, 4, 5, 6, 7, 8, 9]

### List 연산

▶ `+` 연산: 두 List를 연결
▶ `*` 연산: 곱한 수만큼 반복
▶ List 항목 일부 가져오기
 - list[start : end]
 - list[start : end : step]

▶ List 항목 제거하기
  - `del list[항목]`
  
▶ List 안에 값이 있는지 여부 확인
 - `in `: 값 in list
 - 결과: true/false

### List 더하기
두 List 연결

In [23]:
list1 = list(range(1,5))
list2 = list(range(6,10))
list1 + list2

[1, 2, 3, 4, 6, 7, 8, 9]

In [25]:
dir(list1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### List 곱하기
List를 곱한 수만큼 반복

In [27]:
list1 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

### List  중 일부  항목 가져오기
인덱스의 범위를  지정해 List 중 일부 항목을 가져옴




> `List[i_start:i_end]` <br>
> `List[i_start:i_end:i_step]`





- `i_start`, `i_end`, `i_step`은 각각 인덱스의 시작, 끝, 스텝 (증가 단계)
- `i_start`에서 `i_end - 1`까지의 List를 반환
- `i_start`를 생략하면  인덱스는 0으로 간주
- `i_end`를 생략하면 인덱스는 마지막이라고 간주

In [29]:
# slicing

list3 = list(range(1,100))
print(list3[0:5])
print(list3[:5])
print(list3[5:15])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [31]:
list3[-10:-3] # 역인덱스를 이용한 슬라이싱

[90, 91, 92, 93, 94, 95, 96]

In [33]:
list3[0:20:2]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [35]:
list3 = list(range(10))
list3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
id(list3)

2838944111808

In [39]:
list3 = list(range(100))
id(list3)

2838944118080

### List에서 항목 삭제하기
`del List[i]`

In [41]:
del list3
del list1[0]

### List에서  항목의  존재  여부 확인하기
`항목 in List`

List에 항목이 있으면 `True`, 없으면 `False를` 반환

In [43]:
list3 = list(range(1,100))

In [45]:
3 in list3

True

### 자주 사용하는 List 메소드

:`변수명.메서드()`

1) append()
 - List에서 항목을 맨 마지막에 추가

2) insert()
 - List에서 특정 위치에 항목을 추가

3) extend()
 - List에서 항목 여러 개를 마지막에 추가

4) remove()
 - 입력값과 첫번째로 일치하는 항목을 List에서 삭제

5) pop()
 - List의 마지막 항목을 제거한 후에 반환

6) index()
 - List의 위치를 반환

7) count()
 - List 안에 포함된 항목의 개수를 반환

8) sort()
 - 순방향 정렬

9) reverse()
 - List 항목을 역순으로 정렬

### append()

List에서 항목을 맨 마지막에 추가

In [49]:
list1.append(10)
list1

[2, 3, 4, 10, 10]

### insert()

List에서 특정 위치에 항목을 추가

In [51]:
list1.insert(2, 'test')
list1

[2, 3, 'test', 4, 10, 10]

### extend()

List에서 항목 여러 개를 마지막에 추가

In [53]:
list1.extend('99')
list1

[2, 3, 'test', 4, 10, 10, '9', '9']

In [55]:
list1.extend(['99','100',10])
list1

[2, 3, 'test', 4, 10, 10, '9', '9', '99', '100', 10]

### remove()

입력값과 첫번째로 일치하는 항목을 List에서 삭제

In [57]:
list1.remove('test')
list1

[2, 3, 4, 10, 10, '9', '9', '99', '100', 10]

In [59]:
list1.remove('test')

ValueError: list.remove(x): x not in list

### pop()

List의 마지막 항목을 제거한 후에 반환

In [61]:
list1.pop()

10

In [63]:
list1

[2, 3, 4, 10, 10, '9', '9', '99', '100']

In [65]:
list1.pop()

'100'

In [67]:
list1

[2, 3, 4, 10, 10, '9', '9', '99']

### index()

List의 위치를 반환

In [69]:
list1.index('99')

7

### count()

List 안에 포함된 항목의 개수를 반환

In [71]:
cnt = list1.count('99')
cnt

1

### sort()

순방향 정렬

In [75]:
list5 = [0,1,3,5,4,2,9]
list5.sort() # 메소드
list5

[0, 1, 2, 3, 4, 5, 9]

In [77]:
sorted(list5) # 함수

[0, 1, 2, 3, 4, 5, 9]

In [79]:
list5 = [0,1,3,5,4,2,9]
sorted(list5)

[0, 1, 2, 3, 4, 5, 9]

In [81]:
list5

[0, 1, 3, 5, 4, 2, 9]

 ### reverse()

List 항목을 역순으로 정렬

In [85]:
list5.reverse()
list5

[0, 1, 3, 5, 4, 2, 9]

### 리스트에 많이 쓰이는 함수들

- type()
- sorted()
- dir()
- id()

In [88]:
len(list5)

7

In [90]:
sum(list5)

24

In [92]:
list6 = [1, 2, 3, 4, 10, '9', '9', '99']
id(list6)

2838955554944

In [94]:
id(list5)

2838968112384

In [96]:
sum(list6)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [98]:
max(list5)

9

In [100]:
min(list5)

0

### 리스트 퀴즈

Q1. [1,3,5,4,2]라는 리스트를 [5,4,3,2,1]로 만들어보자

Q2. ['Life','is','too','short']라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자

Q3. 다음 리스트 L의 순서를 아래와 같이 변경하시오. (힌트: pop())

변경 전 

[1, 3, 5, 7, 9]  

변경 후

[3, 5, 7, 9, 1]

In [105]:
# 1
list1 = [1,3,5,4,2]
list1 = reversed(list1)
list(list1)

[2, 4, 5, 3, 1]

In [117]:
# 2
list2 = ['Life','is','too','short']
a = ' '.join(list2)
a

'Life is too short'

In [1]:
# 3
L = [1,3,5,7,9]
a = L.pop(0)
L.append(a)
L

[3, 5, 7, 9, 1]