<a href="https://colab.research.google.com/github/zzhining/python_basic/blob/master/09_basic_io.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 화면 출력
- `print()` 함수를 이용해 화면으로 출력
- 기본 출력: 출력 형식을 지정하지 않음
- 형식 지정 출력: 다양한 형식으로 출력 가능

문자열을 print() 함수 안에 삽입

In [1]:
print('Hello Python!!')

Hello Python!!



문자열 여러 개를 연결해서 출력

In [5]:
print('I','love','python')

I love python

빈칸 대신 다른 문자열 삽입

In [3]:
print('I','love','python', sep='*')

I*love*python

빈칸 없이 두 문자열을  연결

In [7]:
print('abc','def',sep='')

abcdef




문자열을 여러 줄로 출력

In [9]:
print('I love python')
print('You love java.')

I love python
You love java.




문자열을 한 줄로 연결해서 출력

In [11]:
print('I','love','python.',sep=' ')

I love python.

%s로 문자열을 대입한 변수를 출력

In [15]:
name = "철수"

'%s는 나의 친구입니다.' % (name)

'철수는 나의 친구입니다.'

## 형식  지정  문자열에서  출력  위치 지정

In [19]:
animal0 = "cat"
animal1 = "dog"
animal2 = "fox"

print(f'Animal: {animal0}')
print(f'Animal: {animal0},{animal1},{animal2}')

Animal: cat
Animal: cat,dog,fox

형식 지정 문자열의 위치 지정

In [21]:
print(f'Animal: {animal1},{animal2},{animal0}')

Animal: dog,fox,cat

----
⭐숫자의 출력 형식⭐

| 데이터(x)   | 출력 형식  | 출력 결과 | 설명                                                                           |
|-------------|------------|-----------|--------------------------------------------------------------------------------|
| 3           | {N:2d}     | ↔3        | 정수를  공백  포함해  두  자리로  표시  (↔은 공백  한  칸을 의미함)            |
| 3           | {N:05d}    | 3         | 정수를  다섯  자리로  표시.  앞의  공백은  0으로  채움                         |
| 12          | {N:&gt;5d} | ↔↔↔12     | 정수를  다섯  자리로  표시.  숫자는  오른쪽으로  정렬                          |
| 0.12345     | {N:.3f}    | 0.123     | 실수를  소수점  셋째  자리까지  표시                                           |
| 7456000     | {N:,}      | 7,456,000 | 통화  표시처럼  끝에서  셋째  자리마다  콤마(,)를  표시                        |
| 0.3258      | {N:.1%}    | 32.60%    | 소수를 퍼센트(%)로 표시. 퍼센트 표시에서 소수점 자리 수는 ‘.’ 다음 숫자로 표시 |
| 92500000000 | {N:.2e}    | 9.25E+10  | 숫자를  지수로  표시. 지수 표시에서 소수점 자리 수는  ‘.’ 다음 숫자로 표시     |
| 16          | {N:#x}     | 0x10      | 숫자를  16진수로  표시.  #기호가  없으면  0x 없이   출력됨                     |
| 8           | {N:#o}     | 0o10      | 숫자를  8진수로  표시.  #기호가  없으면  0o 없이  출력됨                       |


----

In [5]:
val = 3000000
print("value: {0:#b}".format(val))

value: 0b1011011100011011000000

## 키보드 입력

키보드로 데이터를 입력하기 위해서는 input() 함수를 이용


`data = input("문자열")`

In [11]:
age = input("나이를 입력하세요")

나이를 입력하세요20

In [12]:
age

'20'

input() 함수로부터 입력받은 데이터를 print() 함수로 출력

당신 나이는 20살 입니다.

input() 함수로부터 입력받은 데이터를 숫자로 변환

한변의 길이:5

str