<a href="https://colab.research.google.com/github/zzhining/python_basic/blob/master/exercise/%EC%9E%90%EB%A3%8C%ED%98%95(list%2C_tuple%2C_dict).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 리스트 numbers가 다음과 같을 때, 첫 번째 원소와 마지막 원소의 합을 구하는 코드를 작성하세요.

In [2]:
numbers = [10, 20,  30,  40,  50,  60, 70, 80, 90, 100]

In [3]:
#답을 작성하세요.
answer1 = numbers[0] + numbers[-1] 

print(answer1)

110

2. 리스트 colors가 다음과 같을 때, 첫 3개 원소와 마지막 2개 원소를 슬라이싱을 사용하여 출력하는 코드를 작성하세요.

In [5]:
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]

In [6]:
#답을 작성하세요.
answer2_1 = colors[:3]
answer2_2 = colors[-2:]

print("첫 3개 원소 : ", answer2_1)
print("마지막 2개 원소 : ", answer2_2)

첫 3개 원소 :  ['red', 'green', 'blue']
마지막 2개 원소 :  ['orange', 'black']

3. 다음 리스트에서 "korean"이라는 문자열을 찾아 출력하는 코드를 작성하세요.

In [7]:
list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]

In [8]:
#답을 작성하세요.
answer3 = list_a[2][1]

print(answer3)

korean

In [11]:
if 'korean' in list_a[2]:
    print('korean')

korean

4. 리스트 list_a과 list_b가 다음과 같을 때, 두 리스트를 합쳐서 새로운 리스트 list_c를 만드는 코드를 작성하세요.

In [12]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

In [13]:
#답을 작성하세요.
list_c = list_a + list_b

print(list_c)

[1, 2, 3, 4, 5, 6]

In [15]:
list_c = list_a.extend(list_b)
list_c, list_a

(None, [1, 2, 3, 4, 5, 6, 4, 5, 6])

5. 아래의 튜플 tuple_a에서 "banana"를 "blueberry"로 변경하는 코드를 작성하세요.

In [16]:
tuple_a = ("apple", "banana", "cherry")

In [17]:
tuple_a[1] = 'bluberry'

TypeError: 'tuple' object does not support item assignment

In [21]:
#답을 작성하세요.
answer5 = list(tuple_a)
answer5[1] = 'blueberry'
answer5 = tuple(answer5)
print(answer5)

('apple', 'blueberry', 'cherry')

6. 변수 a, b, c의 값을 사용하여 튜플 tuple_a를 생성하고 출력하는 코드를 작성하세요.

In [23]:
a = 5
b = 10
c = 15

In [26]:
#답을 작성하세요.
tuple_a = (a,b,c)

print(tuple_a)

(5, 10, 15)

7. 튜플 numbers가 주어졌을 때, 튜플의 최대값과 최소값을 출력하는 코드를 작성하세요.

In [27]:
numbers = (92, 89, 72, 31, 71, 33, 19)

In [38]:
#답을 작성하세요.
answer7_1 = max(numbers)
answer7_2 = min(numbers)
#numbers.max()
num1 = numbers + numbers #__add__()
num2 = numbers * 3 #__mul__()

numbers, num1, num2
#print("최대값 : ", answer7_1)
#print("최소값 : ", answer7_2)

((92, 89, 72, 31, 71, 33, 19),
 (92, 89, 72, 31, 71, 33, 19, 92, 89, 72, 31, 71, 33, 19),
 (92,
  89,
  72,
  31,
  71,
  33,
  19,
  92,
  89,
  72,
  31,
  71,
  33,
  19,
  92,
  89,
  72,
  31,
  71,
  33,
  19))

In [ ]:
# function, method

함수이름( )  -> 파이썬 전체적으로 사용하는 기능 : 파이썬 문서
객체.함수이름( ) -> 객체를 정의한 클래스에서 만들어준 기능
dir(객체)

In [33]:
dir(numbers)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

8. dict 타입의 student(변수명)를 생성하고, 아래의 키-값 쌍을 추가하는 코드를 작성하세요.

- name: "Alice"
- age: 24
- major: "Computer Science"

In [30]:
#답을 작성하세요.
student = {
    'name': "Alice",
    'age': 24,
    'major': "Computer Science",
}

print(student)

{'name': 'Alice', 'age': 24, 'major': 'Computer Science'}

9. 위에서 생성한 student에서, 모든 키와 값을 출력하는 코드를 작성하세요

In [31]:
#답을 작성하세요.
answer9_1 = student.keys()
answer9_2 = student.values()

print("모든 키(key) : ", answer9_1)
print("모든 값(value) : " , answer9_2)

모든 키(key) :  dict_keys(['name', 'age', 'major'])
모든 값(value) :  dict_values(['Alice', 24, 'Computer Science'])

10. 위에서 생성한 student에서, age(나이)를 26으로 변경하세요.

In [32]:
#답을 작성하세요.
student['age'] = 26
answer10 = student

print(answer10)

{'name': 'Alice', 'age': 26, 'major': 'Computer Science'}

@. 다음 딕셔너리 students에서 name의 값을 리스트(name_list)로, age의 값을 튜플(age_tuple) 만드는 코드를 작성하세요

In [39]:
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}

In [65]:
students.values()

dict_values([{'name': 'Alice', 'age': 24}, {'name': 'Bob', 'age': 22}, {'name': 'Charlie', 'age': 23}])

In [81]:
name_list = list(students.values())
name_list

[{'name': 'Alice', 'age': 24},
 {'name': 'Bob', 'age': 22},
 {'name': 'Charlie', 'age': 23}]

In [82]:
name_list[0]['name'], name_list[1]['name'], name_list[2]['name']

('Alice', 'Bob', 'Charlie')

In [83]:
name_val_list =[name_list[0]['name'], name_list[1]['name'], name_list[2]['name']]
age_val_list =[name_list[0]['age'], name_list[1]['age'], name_list[2]['age']]
name_list, age_list

([{'name': 'Alice', 'age': 24},
  {'name': 'Bob', 'age': 22},
  {'name': 'Charlie', 'age': 23}],
 [24, 22, 23])

In [60]:
#답을 작성하세요.
name_list = [] #list(students.values())[0]['name']
age_list = []
for student in students.values():
    name_list.append(student['name'])
    age_list.append(student['age'])
    
age_tuple = tuple(age_list)

print(name_list)
print(age_tuple)

['Alice', 'Bob', 'Charlie']
(24, 22, 23)

In [58]:
list(student['name'] for student in students.values())

['Alice', 'Bob', 'Charlie']

In [59]:
tuple(student['age'] for student in students.values())

(24, 22, 23)