<a href="https://colab.research.google.com/github/zzhining/python_basic/blob/master/exercise/%EC%9E%90%EB%A3%8C%ED%98%95(list%2C_tuple%2C_dict).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 리스트 numbers가 다음과 같을 때, 첫 번째 원소와 마지막 원소의 합을 구하는 코드를 작성하세요.

In [ ]:
numbers = [10, 20,  30,  40,  50,  60, 70, 80, 90, 100]

In [ ]:
#답을 작성하세요.
answer1 =

print(answer1)

2. 리스트 colors가 다음과 같을 때, 첫 3개 원소와 마지막 2개 원소를 슬라이싱을 사용하여 출력하는 코드를 작성하세요.

In [ ]:
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]

In [ ]:
#답을 작성하세요.
answer2_1 =
answer2_2 =

print("첫 3개 원소 : ", answer2_1)
print("마지막 2개 원소 : ", answer2_2)

3. 다음 리스트에서 "korean"이라는 문자열을 찾아 출력하는 코드를 작성하세요.

In [ ]:
list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]

In [ ]:
#답을 작성하세요.
answer3 =

print(answer3)

4. 리스트 list_a과 list_b가 다음과 같을 때, 두 리스트를 합쳐서 새로운 리스트 list_c를 만드는 코드를 작성하세요.

In [ ]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

In [ ]:
#답을 작성하세요.
list_c =

print(list_c)

5. 아래의 튜플 tuple_a에서 "banana"를 "blueberry"로 변경하는 코드를 작성하세요.

In [ ]:
tuple_a = ("apple", "banana", "cherry")

In [ ]:
#답을 작성하세요.
answer5 =

print(answer5)

6. 변수 a, b, c의 값을 사용하여 튜플 tuple_a를 생성하고 출력하는 코드를 작성하세요.

In [ ]:
a = 5
b = 10
c = 15

In [ ]:
#답을 작성하세요.
tuple_a =

print(tuple_a)

7. 튜플 numbers가 주어졌을 때, 튜플의 최대값과 최소값을 출력하는 코드를 작성하세요.

In [ ]:
numbers = (92, 89, 72, 31, 71, 33, 19)

In [ ]:
#답을 작성하세요.
answer7_1 =
answer7_2 =

print("최대값 : ", answer7_1)
print("최소값 : ", answer7_2)

8. dict 타입의 student(변수명)를 생성하고, 아래의 키-값 쌍을 추가하는 코드를 작성하세요.

- name: "Alice"
- age: 24
- major: "Computer Science"

In [ ]:
#답을 작성하세요.
student =

print(student)

9. 위에서 생성한 student에서, 모든 키와 값을 출력하는 코드를 작성하세요

In [ ]:
#답을 작성하세요.
answer9_1 =
answer9_2 =

print("모든 키(key) : ", answer9_1)
print("모든 값(value) : " , answer9_2)

10. 위에서 생성한 student에서, age(나이)를 26으로 변경하세요.

In [ ]:
#답을 작성하세요.
answer10 =

print(answer10)

@. 다음 딕셔너리 students에서 name의 값을 리스트(name_list)로, age의 값을 튜플(age_tuple) 만드는 코드를 작성하세요

In [1]:
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}

In [9]:
for i in students.values():
    print(i['name'])

Alice
Bob
Charlie

In [11]:
#답을 작성하세요.
name_list = [i['name'] for i in students.values()]
age_tuple = [i['age'] for i in students.values()]

print(name_list)
print(age_tuple)

['Alice', 'Bob', 'Charlie']
[24, 22, 23]