<a href="https://colab.research.google.com/github/zzhining/python_basic/blob/master/02_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열

- 문자열: 파이썬에서는 따옴표로 둘러싼 문자 집합을 의미

## 문자열 생성
- 시작과 끝에 큰따옴표 (") 또는 작은따옴표 (')를 지정
- 같은 기호를 사용해야 함

In [ ]:
print('test')

문자열을  변수에 저장한 후 print() 함수로 출력하는  예

변수에 할당한 문자열의 타입 확인

문자열 안에 큰따옴표나 작은따옴표 포함하기

- 문자열에 큰따옴표와 작은따옴표를 모두 포함하고 싶거나 문장을 여러 행 넣고 싶거나 입력한 그대로 출력하고 싶을 때
- 문자열 전체를 삼중 큰따옴표 (""")나 삼중 작은따옴표 (''')로 감쌈

## 문자열 다루기
- 더하기 연산자 (+)와 곱하기 연산자 (*)를 이용 가능
- 더하기 연산자: 문자열끼리 연결 (concatenation)해 문자열을 하나로 합침
- 곱하기 연산자: 곱한 만큼 문자열을  반복

In [1]:
a='hello'
b='python'
a+b

'hellopython'

In [3]:
type(a)
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [5]:
a*3

'hellohellohello'

# *피라미드 만들기

In [95]:
height = 5

for i in range(height):
    # 공백 출력: (height - i - 1)개의 공백
    print(' ' * (height - i - 1), end='')
    # 별 출력: (2 * i + 1)개의 별
    print('*' * (2 * i + 1))

    *
   ***
  *****
 *******
*********

# *다이아몬드 만들기

In [98]:
height= 7

# 윗부분 출력
for i in range(height):
    # 공백 출력
    print(' ' * (height - i - 1), end='')
    # 별 출력
    print('*' * (2 * i + 1))

# 아랫부분 출력
for i in range(height - 1):
    # 공백 출력
    print(' ' * (i + 1), end='')
    # 별 출력
    print('*' * (2 * (height - i - 2) + 1))

      *
     ***
    *****
   *******
  *********
 ***********
*************
 ***********
  *********
   *******
    *****
     ***
      *

# 형변환 type cast

In [8]:
a = 10
a

10

In [10]:
type(a + 10.5)

float

In [12]:
int(a + 10.5)

20

In [14]:
float(10 + 2)

12.0

# TypeError, ValueError
서로 다른 자료를 연산하게 되면 TypeError 발생 자료형을 변환할 때 ‘변환할 수 없는 것’을 반환 하려고 할 때 **ValueError **

In [18]:
b = 2
c = '3'
b+c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
d = '30h'
int(d)

ValueError: invalid literal for int() with base 10: '30h'

In [26]:
# 인덱싱
d[2]

'h'

In [28]:
# 슬라이싱
d[0:2]

'30'

In [30]:
# 문자형 데이터는 변경 불가 Immutable
d[2]='a'

TypeError: 'str' object does not support item assignment

In [32]:
# 객체.메소드()
new = d.replace('h','0')
new

'300'

In [36]:
# 지정한 문자열로 분할
s = "1:2:3:4"
s.split(':')

['1', '2', '3', '4']

In [38]:
# 지정한 문자열의 갯수 
s.count(':')

3

# function vs method
- function
  - 함수이름() -> 파이썬 전체적으로 사용하는 기능
- method
  - 객체.함수이름() -> 객체를 정의한 클래스에서 만들어준 기능

In [43]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

메소드|설 명
:---|:---
문자열.startswith(prefix)|문자열이 prefix로 시작하는지 검사하여 True/False 반환
문자열.endswith(suffix)|문자열이 suffix로 끝나는지 검사하여 True/False 반환
문자열.format(value)|문자열의 특정 값을 value로 치환한다.
문자열.replace(old, new)|s에 있는 old를 new로 바꾼다.
문자열.split(sep)|sep를 구분자로 하여 문자열을 분할한다.
문자열.strip(chars)|앞이나 뒤에 나오는 공백이나 chars로 지정된 문자들을 제거한다.

Q1. 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일 [YYYYMMDD] 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [47]:
pin = '881120-1068234'
yyyymmdd = pin[:6]
num = pin[7:]
yyyymmdd, num

('881120', '1068234')

Q2. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자

In [50]:
pin[7]

'1'

In [52]:
num =pin.split('-')[1]
num[0]

'1'

Q3. 숫자와 문자를 나누어 a1,a2 변수에 넣으세요.

a = '20010331Rainy'

In [55]:
a = '20010331Rainy'
a1 = a[:8]
a2 = a[8:]
a1,a2

('20010331', 'Rainy')

Q4. 모두 대문자로, 모두 소문자로 바꾸세요.

a = 'Hi'

In [58]:
a = 'Hi'
a.upper()

'HI'

In [60]:
a.lower()

'hi'

Q5. 아래 변수의 화이트 스페이스를 제거하고 출력하세요.

a = ' hi '

In [63]:
a = ' hi '
a.strip()

'hi'

# split, join

In [67]:
fruit = "사과,배,바나나,딸기"
b = fruit.split(",")
b

['사과', '배', '바나나', '딸기']

In [69]:
fruit[0]

'사'

In [71]:
b[0]

'사과'

In [73]:
type(b)

list

In [75]:
type("-".join(   b  ))

str

# 특별한 문자열

1. f-string
f" {변수} 문자열이에요 "

In [79]:
a = 100
b = 200

out_string = f"  a = {a}, b = {b} 입니다.   "
print(out_string)

  a = 100, b = 200 입니다.

In [81]:
a=200
b=300
print(f"  a = {a}, b = {b} 입니다.   ")

  a = 200, b = 300 입니다.

2. r-string
- raw string : 무형식 문자열
- 문자열을 정의할 때 백슬래시(\) 문자를 이스케이프(escape) 문자로 해석하지 않고, 문자 그대로 취급하도록 하는 문자열 형식

In [92]:
a = "hellopython\python_data_basic\naaa"
print(a)

hellopython\python_data_basic
aaa

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\jisu\AppData\Local\Temp\ipykernel_9412\2027627376.py:1: SyntaxWarning: invalid escape sequence '\p'
  a = "hellopython\python_data_basic\naaa"

In [86]:
a = r"hellopython\python_data_basic\naaa"
print(a)

hellopython\python_data_basic\naaa

3. 문자열.format()
- 값의 위치를 0,1,2.. 인덱스로 {인덱스: } 안에 지정
- 각 값의 형식을 지정

In [89]:
template = "{0:.2f} {1:s} are worth US$ {2:d}"
template.format(99.99, 'dollars', 100)

'99.99 dollars are worth US$ 100'