<a href="https://colab.research.google.com/github/zzhining/python_basic/blob/master/05_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 세트(set)
- 수학의 집합개념을 구현한 데이터타입
- 데이터에 순서가 없고, 중복해서 사용이 불가
- 교집합, 합집합, 차집합을 구하는 메서드

# 세트 생성
    
- 중괄호 {}를 사용해서 만듦

In [1]:
set1 = {1,2,3}
set1

{1, 2, 3}

In [5]:
set2 = set([1,2,3,'a'])
set2

{1, 2, 3, 'a'}

In [9]:
# set을 이용한 중복 제거(많이 사용)
my_list = [1,2,3,3,3,3,4,5]
my_set = set(my_list)
my_set

{1, 2, 3, 4, 5}

In [11]:
# set은 중첩리스트를 처리하지 못함
list1 = [1,2,3,3,3,3,4,5,[4,5,6]]
my_set1 = set(list1)
my_set1

TypeError: unhashable type: 'list'

# 집합 연산
    * 교집합
        - set1.intersection(set2)
        - &
    * 합집합
        - set1.union(set2)
        - |
    * 차집합
        - set1.difference(set2)
        - -

In [13]:
s = set([1,2,3,4])
x = {2,3,4,5,6,}
y = {3,4,5,6,7,8}

# 합집합
x | y
x.union(y)

{2, 3, 4, 5, 6, 7, 8}

In [15]:
# 교집합
x & y
x.intersection(y)

{3, 4, 5, 6}

In [17]:
# 차집합
x - y
x.difference(y)

{2}

In [19]:
# 대칭차집합
x ^ y

{2, 7, 8}

# 리스트, 튜플, 세트 간 타입 변환
- list(), tuple(), set()을 이용해 서로 변환

In [21]:
a = [1,2,3,4,5]
type(a)

list

In [23]:
b = tuple(a)
type(b)

tuple

In [25]:
c = set(a)
type(c)

set