<a href="https://colab.research.google.com/github/zzhining/python_basic/blob/master/11_function_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수
- 함수 (function)는 특정 기능을 수행하는 코드의 묶음
- 함수를 이용하면 같은 기능을 수행하는 코드를  반복해서 작성할 필요가 없음
- 코드가 깔끔해지고 한번 만든 코드를 재사용할 수 있어서 코드를 작성하기가 편해짐
- 내장 함수의 예: print(), type()

# 함수의 기본 구조
- **인자**: 입력값
    - 인자를 통해 함수에 값을 전달
- **반환 값**: 결과값
---
- **함수 정의**: 함수 만들기
- **함수 호출**: 정의된 함수 부르기

#함수의 구조
```
def 함수명([인자1, 인자2, ··· , 인자n]):
  <코드 블록>
  [return <반환 값>]
```
---
# 함수의 형태
- 인자도 반환 값도 없는  함수
- 인자는 있으나 반환 값이 없는  함수
- 인자도 있고 반환 값도 있는  함수

In [3]:
# 입력 X, 반환 X
def say_hello():
    print('안내말씀을 드립니다. 파이썬이 좀 재밌어졌나요?')
say_hello()

안내말씀을 드립니다. 파이썬이 좀 재밌어졌나요?

In [5]:
# 입력 1, 반환X
def say_hello(name):
    print(f'안내말씀을 드립니다. {name}이 좀 재밌어졌나요?')
say_hello('등산')

안내말씀을 드립니다. 등산이 좀 재밌어졌나요?

In [9]:
# 입력 X, 반환 1
def say_hello():
    print('안내말씀을 드립니다. 파이썬이 좀 재밌어졌나요?')
    return '안내방송 끝'
result = say_hello()
result

안내말씀을 드립니다. 파이썬이 좀 재밌어졌나요?

'안내방송 끝'

In [11]:
# 입력이 여러개, 반환 1
def get_plus(n1, n2):
    result = n1 + n2
    return result
get_plus(1,2)

3

In [17]:
# 입력이 여러개, 반환 2
def get_plus_minus(n1, n2):
    result1 = n1 + n2
    result2 = n1 - n2
    return result1, result2
get_plus_minus(1,2)

(3, -1)

In [35]:
# 인수의 개수를 지정할 수 없을 때 : *args
# 시장에 가면 함수
def if_go_market(*args):
    print(f'시장에 가면',end=' ')
    for i in args:
        print(f'{i},',end=' ')
    print(f'샀습니다.')
    

if_go_market('사과')
if_go_market('사과','꽃','고기','당근','오이')

시장에 가면 사과, 샀습니다.
시장에 가면 사과, 꽃, 고기, 당근, 오이, 샀습니다.

In [37]:
# 위치인자, 키워드인자
def input_print(x,y,z,k):
    print(x,y,z,k)
input_print(0,0,7,'빵')

0 0 7 빵

In [39]:
input_print(0,0,k='빵',z=7)

0 0 7 빵

In [41]:
# default 매개변수
def say_hello(name, msg='지구를 지켜줘'):
    print(f'{name}님, {msg} ! !')
say_hello('ironman')

ironman님, 지구를 지켜줘 ! !

In [43]:
say_hello('블랙팬서','와칸다포에버')

블랙팬서님, 와칸다포에버 ! !

# 초대장 생성 프로그램

ooo님 안녕하세요?
화창한 2024년 가을, 저희 컴퓨터 동아리 축제에 ooo님을 초대합니다.
쿠폰 No. #
ooo님 축제에서 만나길 고대하겠습니다.

In [55]:
vip_list = ['조인성', '김우빈', '정우성', '유해진']

num = 1
for i in vip_list:
    msg = f'{i}님 안녕하세요?\n'
    content = f'화창한 2024년 가을, 저희 컴퓨터 동아리 축제에 {i}님을 초대합니다.\n'
    coupon = f'쿠폰 No. {num}\n'
    num += 1
    lst = f'{i}님 축제에서 만나길 고대하겠습니다.'
    result = msg + content + coupon + lst
    print(result)

조인성님 안녕하세요?
화창한 2024년 가을, 저희 컴퓨터 동아리 축제에 조인성님을 초대합니다.
쿠폰 No. 1
조인성님 축제에서 만나길 고대하겠습니다.
김우빈님 안녕하세요?
화창한 2024년 가을, 저희 컴퓨터 동아리 축제에 김우빈님을 초대합니다.
쿠폰 No. 2
김우빈님 축제에서 만나길 고대하겠습니다.
정우성님 안녕하세요?
화창한 2024년 가을, 저희 컴퓨터 동아리 축제에 정우성님을 초대합니다.
쿠폰 No. 3
정우성님 축제에서 만나길 고대하겠습니다.
유해진님 안녕하세요?
화창한 2024년 가을, 저희 컴퓨터 동아리 축제에 유해진님을 초대합니다.
쿠폰 No. 4
유해진님 축제에서 만나길 고대하겠습니다.

In [65]:
def get_greet(name):
    greet = f'{name}님 안녕하세요?\n'
    return greet

def get_content(name):
    content = f'화창한 2024년 가을, 저희 컴퓨터 동아리 축제에 {name}님을 초대합니다.\n'
    return content

def get_last(name):
    lst = f'{name}님 축제에서 만나길 고대하겠습니다.'
    return lst

# main program
vip_list = ['조인성', '김우빈', '정우성', '유해진']

num = 1
for i in vip_list:
    print(get_greet(i))
    print(get_content(i))
    print(f'쿠폰 No. {num}\n')
    print(get_last(i))
    num += 1

조인성님 안녕하세요?

화창한 2024년 가을, 저희 컴퓨터 동아리 축제에 조인성님을 초대합니다.

쿠폰 No. 1

조인성님 축제에서 만나길 고대하겠습니다.
김우빈님 안녕하세요?

화창한 2024년 가을, 저희 컴퓨터 동아리 축제에 김우빈님을 초대합니다.

쿠폰 No. 2

김우빈님 축제에서 만나길 고대하겠습니다.
정우성님 안녕하세요?

화창한 2024년 가을, 저희 컴퓨터 동아리 축제에 정우성님을 초대합니다.

쿠폰 No. 3

정우성님 축제에서 만나길 고대하겠습니다.
유해진님 안녕하세요?

화창한 2024년 가을, 저희 컴퓨터 동아리 축제에 유해진님을 초대합니다.

쿠폰 No. 4

유해진님 축제에서 만나길 고대하겠습니다.

# 양수 음수 분류기
- 다양한 개수의 정수를 입력받아, 각 수가 양수인지 음수인지 구분하여 각각의 개수를 출력하는 코드를 작성하시오.

- 입력으로부터 정수리스트로 변환하는 것은 한 줄 코드로 작성
- 입력 받은 값 중 0은 무시

- 출력예시

정수들을 입력: 입력한 숫자가 없습니다 양수: 0개, 음수: 0개, 합계: 0  
정수들을 입력: 12 -56 25 98 -54 0 77 0 양수: 4개, 음수: 2개, 합계: 102

In [61]:
def classifier():
    args = [int(x) for x in input('정수들을 입력하세요(공백으로 구분)').split() if int(x) != 0]
    if len(args) == 0:
        return '입력한 숫자가 없습니다.'
    else:
        my_list = []
        plus_list = []
        minus_list = []
        total_sum = 0
        for i in args:
            my_list.append(i)
        for i in my_list:
            if i > 0:
                plus_list.append(i)
                total_sum += i
            else:
                minus_list.append(i)
                total_sum += i
        plus_count = len(plus_list)
        minus_count = len(minus_list)
        return f'양수: {plus_count}개, 음수: {minus_count}개, 합계: {total_sum}'

classifier()

정수들을 입력하세요(공백으로 구분)

'입력한 숫자가 없습니다.'

In [71]:
def classifier():
    args = [int(x) for x in input('정수들을 입력하세요(공백으로 구분)').split() if int(x) != 0] ######
    if not args: ########
        return '입력한 숫자가 없습니다.'
    
    plus_count = sum(1 for i in args if i > 0)
    minus_count = sum(1 for i in args if i < 0)
    total_sum = sum(args)

    return f'양수: {plus_count}개, 음수: {minus_count}개, 합계: {total_sum}'

classifier()

정수들을 입력하세요(공백으로 구분)

'입력한 숫자가 없습니다.'

In [69]:
def count_number():
    # 숫자 목록 구현
    user_input = input('정수들을 입력하세요(공백으로 구분):\n ')
    
    # 입력이 없는 경우
    if not user_input.strip():
        print('입력한 숫자가 없습니다. 양수: 0개, 음수: 0개, 합계: 0')
        return  # 함수 종료

    numbers = [int(x) for x in user_input.split() if int(x) != 0]
    
    # 입력이 없는 경우
    if not numbers:
        print('입력한 숫자가 없습니다. 양수: 0개, 음수: 0개, 합계: 0')
        return  # 함수 종료
    
    # 양수/음수 숫자 분류
    plus_list = list(filter(lambda x: x > 0, numbers))
    minus_list = list(filter(lambda x: x < 0, numbers))
    
    # 개수 세기 및 합계 계산
    pos_cnt = len(plus_list)
    neg_cnt = len(minus_list)
    total_sum = sum(numbers)
    
    print(f'양수: {pos_cnt}개, 음수: {neg_cnt}개, 합계: {total_sum}')

count_number()

정수들을 입력하세요(공백으로 구분):
  5 4

양수: 2개, 음수: 0개, 합계: 9

<div class="alert alert-success">
[문제]
    
1학년 2반의 시험 성적은 다음과 같습니다.
    
[80, 90, 70, 65, 85, 95, 90, 80, 75, 80]
    
시험 문제 중, 한 문제가 잘못 출제되어 모두 5점씩 추가 점수를 받도록 조치를 취했습니다.
변경 후 점수를 반환하는 함수를 만들어 보세요.

</div>

In [8]:
def final_score(score):
    for i in range(0,len(score)):
        score[i] += 5
    return score
    
final_score([80, 90, 70, 65, 85, 95, 90, 80, 75, 80])

[85, 95, 75, 70, 90, 100, 95, 85, 80, 85]

In [ ]:
def update_scores(scores) :
    new_scores = []

    for s in scores:
        new = s + 5
        new_scores.append(new)
    return new_scores

<div class="alert alert-success">
[문제]
    
동요 ‘산토끼’에서 ‘토’는 몇 번이나 나올까요? 함수로 작성해보세요.   
산토끼 토끼야. 어디를 가느냐. 깡충깡충 뛰면서. 어디를 가느냐.   
산고개 고개를. 나혼자 넘어서. 토실토실 알밤을. 주워 올 테야   

</div>

In [19]:
def find_word(lyric, word):
    count = 0
    words = lyric.split()
    for i in words:
        if word in i:  
            count += 1
    return count

rabbit = '산토끼 토끼야. 어디를 가느냐. 깡충깡충 뛰면서. 어디를 가느냐. 산고개 고개를. 나혼자 넘어서. 토실토실 알밤을. 주워 올 테야'
print(find_word(rabbit, '토'))

3

<div class="alert alert-success">
[문제]
    
영어 단어 또는 문장을 인자로 받아서 대문자와 소문자로 출력하는 함수를 만들어보세요.  

</div>

In [22]:
def change(word):
    upperCase = word.upper()
    lowerCase = word.lower()
    return upperCase, lowerCase

change('hello')

('HELLO', 'hello')

<div class="alert alert-success">
[문제]
    
두 수와 연산자를 입력 받아 사칙연산 결과를 출력하는 계산기를 만들어보세요.  

</div>

In [33]:
def cal(num1, num2, operator):
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num1-num2
    elif operator == '*':
        return num1 * num2
    elif operator == '/':
        return num1 / num2
    else:
        print('연산자를 바르게 입력하시오.')
cal(1,3,'**')

연산자를 바르게 입력하시오.

<div class="alert alert-success">
[문제]
    
사용자로부터 키와 성별을 입력 받아서 권장 체중을 화면에 출력하는 함수를 작성하세요.  
권장 체중은 다음과 같이 계산합니다.  
-	남성 권장 체중 = (키 – 100)   
-	여성 권장 체중 = (키 – 100) * 0.9  


</div>

In [41]:
def weight(height, sex):
    if sex == 'male':
        weight = height - 100
    elif sex == 'female':
        weight = (height-100) * 0.9
    else:
        print('성별을 올바르게 입력하세요.')
    return weight
weight(150,'female')

45.0

<div class="alert alert-success">
[문제]
    
    
입력 받은 인자를 모두 더하는 함수를 작성하세요
</div>

In [39]:
def add(*args):
    sum = 0
    for i in args:
        sum += i
    return sum
add(1,2,3,4,5)

15


## 인자도 반환 값도 없는 함수

함수 정의

In [43]:
def my_func():
    print('my first function')
    print('good job')

함수 호출

In [45]:
my_func()

my first function
good job

In [47]:
c = my_func()
print(c)

my first function
good job
None

## 인자는 있으나 반환 값이 없는 함수

함수 정의

In [49]:
def my_friend(friendName):
    print(f'{friendName}님이 입장하였습니다.')

함수 호출

In [51]:
my_friend('jisu')

jisu님이 입장하였습니다.

In [53]:
c = my_friend('jisu')
c

jisu님이 입장하였습니다.

## 인자도 있고 반환 값도 있는 함수

함수 정의

In [57]:
def my_calc(x,y):
    z = x * y
    return z

함수 호출

In [59]:
my_calc(1,2)

2

In [61]:
c = my_calc(1,2)
c

2

In [67]:
# 여러 값 return 가능
def my_calc(a, b):
    add_result = a + b
    mul_result = a * b
    return add_result, mul_result

In [69]:
my_calc(10,20)

(30, 200)

In [71]:
add = my_calc(10,20)
add

(30, 200)

In [73]:
add, mul = my_calc(10,20)
add, mul

(30, 200)

In [75]:
type(add)
type(mul)

int

In [77]:
# 리스트, 숫자 인자 비교
# 불변 객체는 함수 내부에서 수정하더라도 외부에 영향을 미치지 않지만,
# 가변 객체는 함수 내부에서 수정 시 외부 변수에도 영향을 미친다.
def my_calc(a, lst1):
    a += 1
    lst1.append(a)
    
num = 10
lst = [1,2,'hhhh']
print(f'before.. {num}, {lst}')
my_calc(num, lst)
print(f'after.. {num}, {lst}')

before.. 10, [1, 2, 'hhhh']
after.. 10, [1, 2, 'hhhh', 11]

In [79]:
# 순서인자, 키워드인자
my_calc(lst1=lst, a=num)

----

# 변수의 유효 범위
- 함수 안에서 정의한 (혹은 생성한) 변수는 함수 안에서만 사용할 수 있음
- 함수 안에서 생성한 변수는 함수를 호출해 실행되는 동안만 사용할 수 있고 함수 실행이 끝나면 더는 사용할 수 없음
- 지역 변수 (local variable) vs 전역 변수 (global variable)

같은 이름의 변수를 지역 변수와 전역 변수로 모두 사용한 예

In [81]:
a = 5 # 전역 변수

def func1():
    print(a)

func1()

5

In [84]:
a = 5

def func2():
    a = 3 # 지역 변수 
    print(a)
func2()

3

In [90]:
a = 5

def func1():
    global a # 지역 변수 우선
    a = 3
    print('local', a)

func1()
print('global', a)

local 3
global 3

In [88]:
a = 5

def func1():
    global a # 지역 변수 우선
    print('local', a)
    a = 3

func1()
print('global', a)

local 5
global 3

----

# 개수가 정해지지 않은 인자

`*args`
- 여러 개의 인자를 함수로 받고자 할 때
- *args는 일반 변수보다 뒤에 위치해 있어야함(어디까지 *변수에 담아야하는지 알 수 없기 때문)

In [92]:
def func3(a, b, *c):
    print('func3 : ', c)
    print(type(c))

func3(1, 2, 3)

func3 :  (3,)
<class 'tuple'>

`**kwargs`
- 딕셔너리 형태로 값을 전달

In [17]:
def print_student_info(**kwargs):
    print("학생 정보:")
    for key, value in kwargs.items():
        print(f"{key}: {value}")

# 함수 호출
print_student_info(name="홍길동", age=20, major="컴퓨터공학")

학생 정보:
name: 홍길동
age: 20
major: 컴퓨터공학

In [23]:
def favorite_things(**kwargs):
    print('내가 좋아하는 것들')
    for i, v in kwargs.items():
        print(f'{i}: {v}')

favorite_things(fruit='mango',animal='cat',food='greek yogurt')

내가 좋아하는 것들
fruit: mango
animal: cat
food: greek yogurt

# 요일 구하기, 성적 처리 시스템에 함수 적용해보기

In [ ]:
# 총일수 계산 % 7 = 요일
# 총일수 = 1년(365) .... 2024
# 윤년은 366일, 평년은 365일
# 윤년은 4년에 한 번씩 돌아오는 해로, 2월이 29일로 늘어나는 해
# 일요일이 0

# 달별 날수를 리스트로 저장
year_month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]

year = int(input('해를 입력하시오. : '))
month = int(input('달을 입력하시오. : '))
day = int(input('일을 입력하시오. : '))

total_days = 0

for i in range(1, year):
    if (i % 4 == 0 and i % 100 != 0) or (i % 400 == 0):
        total_days += 366
    else:
        total_days += 365

for m in range(1,month):
    total_days += year_month_days[m]
    
# 현재 해가 윤년인지 아닌지 판단하기
# 현재 해가 2월전인지 후인지 판단하기
if month > 2:
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        total_days+=1
else:
    total_days+=0

total_days += day

answer = total_days % 7
answer

In [99]:
def leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

year_month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]

year = int(input('해를 입력하시오. : '))
month = int(input('달을 입력하시오. : '))
day = int(input('일을 입력하시오. : '))

total_days = 0

for i in range(1, year):
    if leap_year(i):
        total_days += 366
    else:
        total_days += 365

for m in range(1, month):
    total_days += year_month_days[m]

# 현재 해가 윤년인지 확인하고 2월 이후인지 판단
if month > 2 and leap_year(year):
    total_days += 1

# 입력한 일수를 총일수에 추가
total_days += day

# 요일 계산
answer = total_days % 7
print(f'요일: {answer}')

해를 입력하시오. :  2024
달을 입력하시오. :  10
일을 입력하시오. :  11

요일: 5

In [1]:
# 현재 날짜가 무슨 요일인지 
# 0은 일요일
# 윤년에는 2월이 29일
# 평년에는 2월이 28일


def is_leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)
    
def calculate_weekday():
    
    year_month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]

    year = int(input('해를 입력하시오. : '))
    month = int(input('달을 입력하시오. : '))
    day = int(input('일을 입력하시오. : '))

    total_days = 0
    for i in range(1,year):
        if is_leap_year(i):
            total_days += 366
        else:
            total_days += 365

    for i in range(1,month):
        total_days += year_month_days[i]

    # 윤년인 경우 2월 이후에는 1일 추가
    if is_leap_year(year) and month > 2:
        total_days += 1

    total_days += day

    weekday = total_days % 7

    return weekday

calculate_weekday()

해를 입력하시오. :  2024
달을 입력하시오. :  10
일을 입력하시오. :  11

5

In [ ]:
# 학생 데이터 초기화 : 최소 10명 이상으로 설정
# 학생들의 성적 총점과 평균 및 반 총점과 과목별 총점 구하기
# 학생별 성적 처리 결과를 출력
# 반 총점, 평균 및 각 과목별 총점과 평균을 계산
# 반 평균 및 각 과목별 평균 출력
# order는 석차

students = [
    {'num': 1, 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 83, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 2, 'name': '이철수', 'kor': 95, 'eng': 90, 'math': 88, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 3, 'name': '박철수', 'kor': 80, 'eng': 85, 'math': 76, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 4, 'name': '최철수', 'kor': 87, 'eng': 82, 'math': 56, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 5, 'name': '안제이', 'kor': 95, 'eng': 95, 'math': 66, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 6, 'name': '홍길동', 'kor': 77, 'eng': 65, 'math': 81, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 7, 'name': '강철수', 'kor': 87, 'eng': 42, 'math': 82, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 8, 'name': '윤제이', 'kor': 81, 'eng': 87, 'math': 97, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 9, 'name': '김길동', 'kor': 93, 'eng': 99, 'math': 81, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 10, 'name': '박길동', 'kor': 81, 'eng': 81, 'math': 88, 'total': 0, 'avg': 0.0, 'order': 0}
]


for i in students:
    i['total'] = i['kor'] + i['eng'] + i['math']
    i['avg'] = i['total'] / 3

class_total = 0
for j in students:
    class_total += j['total']

class_avg = class_total / 10

kor_total = 0
for k in students:
    kor_total += k['kor']

kor_avg = kor_total / 10

eng_total = 0
for k in students:
    eng_total += k['eng']

eng_avg = eng_total / 10

math_total = 0
for k in students:
    math_total += k['math']

math_avg = math_total / 10

# 석차 구하기!!!
students = sorted(students, key=lambda x: x['total'], reverse=True)
for i, j in enumerate(students):
    j['order'] = i + 1

students

In [101]:
def get_sum(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

def get_average(sum, n):
    return sum / n

students = [
    {'num': 1, 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 83, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 2, 'name': '이철수', 'kor': 95, 'eng': 90, 'math': 88, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 3, 'name': '박철수', 'kor': 80, 'eng': 85, 'math': 76, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 4, 'name': '최철수', 'kor': 87, 'eng': 82, 'math': 56, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 5, 'name': '안제이', 'kor': 95, 'eng': 95, 'math': 66, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 6, 'name': '홍길동', 'kor': 77, 'eng': 65, 'math': 81, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 7, 'name': '강철수', 'kor': 87, 'eng': 42, 'math': 82, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 8, 'name': '윤제이', 'kor': 81, 'eng': 87, 'math': 97, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 9, 'name': '김길동', 'kor': 93, 'eng': 99, 'math': 81, 'total': 0, 'avg': 0.0, 'order': 0},
    {'num': 10, 'name': '박길동', 'kor': 81, 'eng': 81, 'math': 88, 'total': 0, 'avg': 0.0, 'order': 0}
]

class_total = 0
kor_total = 0
eng_total = 0
math_total = 0


for i in students:
    i['total'] = get_sum(i['kor'], i['eng'], i['math'])
    class_total = get_sum(i['total'])
    kor_total = get_sum(i['kor'])
    eng_total = get_sum(i['eng'])
    math_total = get_sum(i['math'])

i['avg'] = get_average(i['total'], 3)
class_avg = get_average(class_total, 10)
kor_avg = get_average(kor_total, 10)
eng_avg = get_average(eng_total, 10)
math_avg = get_average(math_total, 10)

students = sorted(students, key=lambda x: x['total'], reverse=True)
for i, j in enumerate(students):
    j['order'] = i + 1

students

[{'num': 2,
  'name': '이철수',
  'kor': 95,
  'eng': 90,
  'math': 88,
  'total': 273,
  'avg': 0.0,
  'order': 1},
 {'num': 9,
  'name': '김길동',
  'kor': 93,
  'eng': 99,
  'math': 81,
  'total': 273,
  'avg': 0.0,
  'order': 2},
 {'num': 8,
  'name': '윤제이',
  'kor': 81,
  'eng': 87,
  'math': 97,
  'total': 265,
  'avg': 0.0,
  'order': 3},
 {'num': 5,
  'name': '안제이',
  'kor': 95,
  'eng': 95,
  'math': 66,
  'total': 256,
  'avg': 0.0,
  'order': 4},
 {'num': 1,
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 83,
  'total': 253,
  'avg': 0.0,
  'order': 5},
 {'num': 10,
  'name': '박길동',
  'kor': 81,
  'eng': 81,
  'math': 88,
  'total': 250,
  'avg': 83.33333333333333,
  'order': 6},
 {'num': 3,
  'name': '박철수',
  'kor': 80,
  'eng': 85,
  'math': 76,
  'total': 241,
  'avg': 0.0,
  'order': 7},
 {'num': 4,
  'name': '최철수',
  'kor': 87,
  'eng': 82,
  'math': 56,
  'total': 225,
  'avg': 0.0,
  'order': 8},
 {'num': 6,
  'name': '홍길동',
  'kor': 77,
  'eng': 65,
  'math': 81,
  'total': 223,
  'avg': 0.0,
  'order': 9},
 {'num': 7,
  'name': '강철수',
  'kor': 87,
  'eng': 42,
  'math': 82,
  'total': 211,
  'avg': 0.0,
  'order': 10}]

# 람다(lambda)
- 한 줄로 함수를 표현
```
lambda <인자> : <인자 활용 수행 코드>
(lambda <인자> : <인자 활용 수행 코드>) (<인자>)
```

## 람다 함수의 사용
```
lambda_function = lambda <인자> : <인자 활용 수행 코드>
lambda_function(<인자>)
```

람다 함수 호출

In [73]:
(lambda x : x + 5)(100) # 일회성

105

람다 함수를 변수에 할당한 후에 인자를 입력해서 호출

In [69]:
sum5 = lambda x : x + 5
sum5(100)

105

여러 개의 인자를 입력받아 연산 결과를 반환하는 람다 함수 변수 할당 후 호출

In [71]:
(lambda x, y : x * y)(4, 5)

20

# 주로 람다를 쓰는 법
1. 함수의 매개변수로 람다 사용
2. map() : list -> 처리 -> list
3. filter() : 조건에 맞는 값만 추출해서 리스트
4. sort() : 조건에 따라 정렬

In [76]:
def myfunc(a,b,func):
    result = func(a,b)
    return result
myfunc(2,3,lambda a, b : a + b)

5

### sorted(iterable, /, *, key=None, reverse=False)

In [127]:
numbers = [3,1,5,8,7,6,9,4]
numbers.sort()
numbers

[1, 3, 4, 5, 6, 7, 8, 9]

In [130]:
numbers = [3,1,5,8,7,6,9,4]
sorted(numbers)

[1, 3, 4, 5, 6, 7, 8, 9]

In [132]:
numbers

[3, 1, 5, 8, 7, 6, 9, 4]

In [138]:
words = ['apple','banana','cherry','blueberry','avocado']
print(sorted(words))
print(sorted(words, reverse=True))
print(sorted(words, key=len))
print(words)

['apple', 'avocado', 'banana', 'blueberry', 'cherry']
['cherry', 'blueberry', 'banana', 'avocado', 'apple']
['apple', 'banana', 'cherry', 'avocado', 'blueberry']
['apple', 'banana', 'cherry', 'blueberry', 'avocado']

In [140]:
sorted(words, key=lambda word : word[-1])

['banana', 'apple', 'avocado', 'cherry', 'blueberry']

### filter(function, iterable)

In [115]:
numbers = list(range(1,10))
list(filter(lambda x : x % 2 ==0, numbers))

[2, 4, 6, 8]

In [118]:
words = ['apple','banana','cherry']

# 'a'로 시작하는 단어 찾기
list(filter(lambda x : x.startswith('a'),words))

['apple']

In [122]:
# 'a'가 들어있는 단어 찾기
list(filter(lambda x : 'a' in x, words))

['apple', 'banana']

### map(function, iterable, *iterables)
- lazy 객체
- 일회용

In [82]:
words = ['apple','banana','cherry']
map(str.upper,words)

In [84]:
list(map(str.upper,words))

['APPLE', 'BANANA', 'CHERRY']

In [89]:
str_numbers = ['1','2','3','4','5']
str_numbers

['1', '2', '3', '4', '5']

In [91]:
[int(x) for x in str_numbers]

[1, 2, 3, 4, 5]

In [93]:
list(map(int, str_numbers))

[1, 2, 3, 4, 5]

In [95]:
numbers = list(range(1,10,2))
list(map(lambda x : x ** 2,numbers))

[1, 9, 25, 49, 81]

In [97]:
[x ** 2 for x in numbers]

[1, 9, 25, 49, 81]

In [99]:
str_list = list('hello')
list(map(lambda x : x.upper(),str_list))

['H', 'E', 'L', 'L', 'O']

In [105]:
list1 = [1,2,3]
list2 = [4,5,6]
list(map(lambda x, y : x+y, list1, list2))

[5, 7, 9]

In [111]:
# 리스트의 길이가 다르면? -> 오류 나지 않음!!
list1 = [1,2,3,4]
list2 = [4,5,6]
list(map(lambda x, y : x+y, list1, list2))

[5, 7, 9]

# 함수의 분류
1. 사용자 정의 함수
- 람다함수
2. 내장함수(built-in)
3. 외장함수
- 설치

# 유용한 내장 함수

## 형 변환 함수


### 정수형으로 변환: int()

In [143]:
int(0.22)

0

### 실수형으로 변환: float()

In [145]:
float(234)

234.0

### 문자형으로 변환

In [147]:
str(124)

'124'

### 리스트, 튜플, 세트형으로  변환
- list()	튜플/세트  데이터를  리스트로 변환
- tuple()	리스트/세트  데이터를  튜플로 변환
- set()	리스트/튜플  데이터를  세트로 변환

In [25]:
list_data = ['abc', 1, 2, 'def']
tuple_data = ('abc', 1, 2, 'def')
set_data = {'abc', 1, 2, 'def'}

In [27]:
print(list(tuple_data))
print(tuple(list_data))
print(set(list_data))

['abc', 1, 2, 'def']
('abc', 1, 2, 'def')
{1, 2, 'abc', 'def'}

### bool 함수
- True 혹은 False의 결과를  반환
- 숫자를 인자로 bool 함수 호출
    - 숫자 0이면 False, 0 이외의 숫자이면 True를 반환
- 문자열을 인자로 bool 함수 호출
    - 문자열이 있으면 True를 반환, 없으면 False를 반환

In [149]:
bool(1)

True

In [151]:
bool(10)

True

In [153]:
bool('abc')

True

리스트는 항목이 있으면 True, 없으면 False를 반환

In [155]:
bool([1,2])

True

In [157]:
bool([])

False

In [159]:
# 항목이 없는 튜플과 있는 튜플을 인자로 bool() 함수를 호출
bool((1,2))

True

In [161]:
bool(())

False

In [163]:
# 항목 유무에 따라 세트, 다음과 같이 각각 False와 True를 반환
bool({1,2})

True

In [165]:
bool({})

False

⭐ **bool 함수의 활용 **⭐ <br>
name 인자에 문자열이 있으면 이름을 출력하고, 없으면 입력된 문자열이 없다고 출력하는 예

In [167]:
def print_name(name):
    if bool(name):
        print(name)
    else:
        print('blank')

In [169]:
# print_name() 함수 호출
print_name('홍길동')

홍길동

## 최솟값과  최댓값을  구하는 함수
- 내장 함수 min()과 max()를 이용

In [31]:
myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
min(myNum), max(myNum)

(0, 99.5)

In [33]:
# 문자열에 대해서도 최솟값과 최댓값을 구하는 예
my_str = 'hello'
min(my_str), max(my_str)

('e', 'o')

In [35]:
# 각각 튜플과 세트에서 최솟값과 최댓값을 구하는 예
my_tuple = (1,3,5)
my_set = {2,4,6}
min(my_tuple), max(my_set)

(1, 6)

## 절댓값과 전체 합을 구하는 함수
절댓값: 내장 함수 abs()를 이용

In [37]:
abs(-1)

1

## 합계
내장 함수 sum()을 이용

In [39]:
sumList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(sumList)

55

## 항목의 개수를 구하는 함수
내장 함수 len()을 이용

In [41]:
len([1,2,3,4])

4

시험 점수가 입력된 리스트를 대상으로 sum()과 len()을 이용해 데이터  항목의 총합과 길이, 평균값 계산

In [43]:
scores = [90, 80, 95, 85] # 과목별 시험 점수
total = sum(scores)
length = len(scores)
avg = total/length
total, length, avg

(350, 4, 87.5)





시험 점수 중 최고점과 최하점 계산

In [45]:
min(scores), max(scores)

(80, 95)

### 1.12 예제: 숫자 맞추기 게임

- 1부터 10까지 난수 생성하고 사용자가 그 숫자를 맞추는 게임
- 사용자에게 숫자를 입력받고, 정답인지 확인하여 더 높은 숫자 또는 더 낮은 숫자를 선택하도록 안내
- 사용자는 'quit'를 입력하여 게임 종료 가능

```
print('종료하려면 quit를 입력하세요')
input('1 ~ 100 사이의 숫자를 선택하시오: ')
print('프로그램을 종료합니다.')

print(f'{num}는 1 ~ 100 사이의 숫자가 아닙니다')
print(f'정답은 {num}보다 작은수 입니다.')
print(f'정답은 {num}보다 큰수 입니다.')
print('축하합니다.')
```

- 종료조건 q, quit, exit
- 입력값 유효성 체크
- 숫자인지 범위인지

In [5]:
import random

number = random.randint(1,10)

while True:
    ans = int(input('1~10시의 숫자를 선택하세요'))
    if number == ans:
        print('end')
        break
    if ans > number:
        print('down')
        continue
    if ans < number:
        print('up')
        continue

1~10시의 숫자를 선택하세요 5

down

1~10시의 숫자를 선택하세요 3

down

1~10시의 숫자를 선택하세요 2

down

1~10시의 숫자를 선택하세요 1

end

In [3]:
import random 

def generate_number(n1=1, n2=10):  # num
    return random.randint(n1, n2)

def get_user_input():  # ans
    print('종료하려면 quit를 입력하세요')
    while True: # 계속해서 사용자 입력을 받기 위한 경우, 특정 조건을 기다리기 위한 경우!
        ans = input('1~10 사이의 숫자를 선택하세요: ')
        if ans.lower() == 'quit':
            return 'quit'
        if ans.isdigit() and 1<= int(ans) <=10: # elif는 앞의 조건이 거짓인 경우에만 실행!
            return int(ans)
        print('유효한 숫자를 입력하세요. 다시 시도해 주세요. (1~10 사이의 숫자)')

def answer_check(num, ans):
    if num == ans:
        print('정답입니다! 게임이 종료되었습니다.')
        return True  
    elif num > ans:
        print('더 높은 숫자를 선택하세요.')
    else:
        print('더 낮은 숫자를 선택하세요.')
    return False

def exe():
    num = generate_number()
    
    while True:  # 계속해서 사용자 입력을 받기 위한 경우, 특정 조건을 기다리기 위한 경우!
        ans = get_user_input() 

        if ans == 'quit':
            print('게임을 종료합니다.')
            break
        if answer_check(num, ans):  # 정답 확인
            break

# 게임 실행
exe()

종료하려면 quit를 입력하세요

1~10 사이의 숫자를 선택하세요:  6

더 높은 숫자를 선택하세요.
종료하려면 quit를 입력하세요

1~10 사이의 숫자를 선택하세요:  8

정답입니다! 게임이 종료되었습니다.

# 외장함수

In [2]:
import math
math.sin(math.pi)

1.2246467991473532e-16

In [13]:
import os
os.name # 현재 운영체제 종류

'nt'

In [15]:
# PATH 환경 변수는 운영 체제가 실행 가능한 프로그램을 찾기 위해 사용하는 디렉터리 경로 목록
os.environ['PATH'] # 현재 환경의 시스템 경로(Path) 환경 변수

'C:\\Users\\jisu\\anaconda3;C:\\Users\\jisu\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\jisu\\anaconda3\\Library\\usr\\bin;C:\\Users\\jisu\\anaconda3\\Library\\bin;C:\\Users\\jisu\\anaconda3\\Scripts;C:\\Windows\\system32;C:\\Windows;C:\\Windows\\System32\\Wbem;C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\;C:\\Windows\\System32\\OpenSSH\\;C:\\Users\\jisu\\AppData\\Local\\Microsoft\\WindowsApps;'

In [60]:
import time
time.time() # 현재 시간을 초 단위로 반환

1728895486.7611258

In [62]:
time.sleep(1) # 1초 대기

In [64]:
input('Enter a number')
t1 = time.time()
time.sleep(3)

input('Enter a number')
t2 = time.time()

gap = t2 - t1
print(f'처리시간은 {gap}입니다.') # 첫 번째 입력 대기 시간 + 3초 sleep + 두 번째 입력 대기 시간

Enter a number 1
Enter a number 3

처리시간은 3.530301809310913입니다.

In [9]:
import datetime

datetime.date.today()

datetime.date(2024, 10, 14)